@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@100;200;300;400;500;600;700&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
:root {
  --primary_blue: #14274E;
  --secondary_blue: #394867;
  --primary_white: #F1F6F9;
  --secondary_white: #9BA4B4;

}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
